{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <article>
        <div class="container center_content">
            <div class="banner">
                <p data-scroll-reveal="enter top over 2s">我们不停的翻弄着回忆，却再也找不回那时的自己</p>
                <p data-scroll-reveal="enter left over 2s after 1s">人生，是一场盛大的遇见。若你懂得，就请珍惜。</p>
                <p data-scroll-reveal="enter bottom over 2s after 2s">无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候.</p>
            </div>
            <div class="memorial_day">
                <div class="time_axis"></div>
                <ul>
                    <li class="n1"><a href="#">来到深圳</a>
                        <div class="dateview">2017-1</div>
                    </li>
                    <li class="n2"><a href="#">进入山顶洞人科技有限公司</a>
                        <div class="dateview">2017-06</div>
                    </li>
                    <li class="n3"><a href="#">进入正堪网络科技（深圳）有限公司</a>
                        <div class="dateview">2018-4</div>
                    </li>
                    <li class="n4"><a href="#">人生苦短 我用python</a>
                        <div class="dateview">2018-10</div>
                    </li>
                    <li class="n5"><a href="#">我正在努力</a>
                        <div class="dateview">Now</div>
                    </li>
                </ul>
            </div>

            <div class="about">
                <h2>Just about me</h2>
                 <ul>
                    <p>朋友您好，我的名字叫肖珂</p>
                    <p>来自于安徽省界首市</p>
                    <p>2017年来到深圳发展，之前做过运营，做过前端</p>
                     <p>网站做的不足之处，请多多指教。加我的qq：645828284</p>
                     <p>网站的源码在github上面有（包括前端的代码，链接网站首页的最下面）</p>
                </ul>
                <h2>About my blog</h2>
                <p>域  名：blog.lyis.top</p>
                <p ><a href="http://wpa.qq.com/msgrd?v=3&uin=645828284&site=qq&menu=yes"> 联系方式：QQ</a></p>
            </div>
        </div>
    </article>
{% endblock content %}