<div class="container footer_href">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-sm-3 col-xs-3">
                        <h4>关于我</h4>
                        <ul>
                            <li><a href="https://github.com/XiaoDjan" target="_blank">github</a></li>
                            <li><a href="#" target="_parent">csdn</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-3">
                        <h4>CDN资源库</h4>
                        <ul>
                            <li><a href="https://www.bootcdn.cn/" target="_blank">bootcdn</a></li>
                            <li><a href="#" target="_blank">baiducdn</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-3">
                        <h4>常用教程</h4>
                        <ul>
                            <li><a href="http://www.w3school.com.cn/" target="_blank">w3school</a></li>
                            <li><a href="http://www.runoob.com/" target="_blank">菜鸟教程</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-3">
                        <h4>云服务器</h4>
                        <ul>
                            <li><a href="https://www.aliyun.com/product/ecs?spm=5176.10695662.744563.1.4b46700c6yzYOh" target="_blank">阿里云</a></li>
                            <li><a href="https://cloud.tencent.com/product/cvm" target="_blank">腾讯云</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>